body, .message, .error, .messureText{
	color:#0a0;
	background:#000000;
}

.message{
	text-indent: 1em; 
	font-size: 2.5em; 
	vertical-align: middle;
}

.error{
	color:#ff0000; 
	text-indent: 1em; 
	font-size: 2.5em; 
	vertical-align: middle;
}

.messureText{
	text-indent: .5em; 
	font-size: 1.5em;
}

.meter-wrap{
    position: relative;
    width: 100%;
}

.betweenTargets{
	line-height: 1;
}

.meter-wrap, .meter-value, .meter-text {
    /* The width and height of your image */
    width: 155px; height: 30px;
}

.meter-wrap, .meter-value {
    background: #bdbdbd url(img/meter-outline.png) top left no-repeat;    
    text-align: center;
}
            
.meter-text {
    position: absolute;
    top:0; left:0;

    padding-top: 5px;
                
    color: #000;
    text-align: center;
    width: 100%;
}

.meter-space{
	width: 20px; height: 30px;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 283px;
	overflow: hidden;
}

.compass {}

.needle {
	position: absolute;
	right:20px;
	-webkit-transform:rotate(90deg); 
	transform:rotate(90deg);
}

.reload {
	position:absolute;
	right:20px;
	bottom:20px;	
}
